.navbar {
  background-color: #393e46;
  color: #fff;
}
.navbar-brand{
  font-family: fantasy;
}
.navbar-logo {
  height: 60px;
  margin-right: 15px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.main {
  background-color: #FFFFEE;
  min-height: 85vh;
  padding: 30px 5%;
}
.pagetitle {
  color: #808080;
  margin-bottom: 20px;
}
.footer {
  background-color:  #393e46;
  text-align: center;
}
.copyright {
  color: #fff;
}