.review-main {
  width: 80%;
}
.review-image {
  width: 20%;
}
.review-image img {
  max-width: 100%;
  max-height: 300px;
}
.btn-back {
  width: 10em;
  margin: auto;
}
.btn-wrapper {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  text-align: center;
}
.btn-delete {
  margin-left: 1.25rem;
}
p {
  white-space: pre-wrap;
}
.contact-topic  {
  color: #808080;
}